body {
		/*background: white url("images/bg2.png");*/
		background: whitesmoke;
	}

	.container{
		margin-top: 5%;
	}
	.container-fluid{
	    position: inherit;
        left: 500px;
        top: 50px;

	}
	.wrapper{
	    text-align: center;

	}

.form-control{
    background-color: transparent !important;
}

.select.form-control{
background-color: transparent;
}
.textinput.textInput.form-control{
background-color: transparent;
}