body {
		background: white url("images/back1.jpg ");

	}

	.container{
		margin-top: 5%;
	}
	.container-fluid{
	    position: inherit;
        left: 500px;
        top: 50px;

	}
	.wrapper{
	    text-align: center;

	}

