{% extends 'user/Userbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Member Details{% endblock %}

{% block content%}<h4><center>Family..</center></h4>
{% endblock %}
{% block body %}
<div class="main">

        <div class="container-fluid" style="width:500px; margin:80px auto;"   >
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h2>You have been logged out</h2>
                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    <a href="{% url 'login' %}">Log In Again</a>
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}
