{% extends 'user/Userbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Register Complaint{% endblock %}

{% block content%}<h4><center>Register Complaint</center></h4>
{% endblock %}
{% block body %}

    <div class="main">
        <div class="container-fluid" style="width:800px; margin:20px auto;"   >
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
<!--                                {{ form|crispy }}-->
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.username|as_crispy_field }}
                                    </div>

                                </div>
                                <div class="form-row">
                                      <div class="form-group col-md-6 mb-0">
                                        {{ form.type|as_crispy_field }}
                                      </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.subject|as_crispy_field }}
                                    </div>

                                </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.description|as_crispy_field }}
                                    </div>

                                </div>

                                <div class="wrapper"><input type="submit" class="btn btn-primary" value="Apply" /></div>
                            </form>
                            <script>
                                $('#id_requested_date').datepicker({ uiLibrary: 'bootstrap4', modal: true, footer: true });
                            </script>
                        </div>
                    </div>
            </div>
        </div>
    </div>






{% endblock %}