{% extends 'user/Userbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Member Registration{% endblock %}

{% block content%}<h4><center>Register Your Family...</center></h4>
{% endblock %}
{% block body %}

<div class="main">

        <div class="container-fluid" style="width:800px; margin:20px auto;"   >
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post" >
                                {% csrf_token %}
                               <!-- {{ form|crispy }}
                                {{ r_form|crispy }}-->

                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.username|as_crispy_field }}
                                    </div>

                                </div>
                                <div class="form-row">
                                      <div class="form-group col-md-6 mb-0">
                                        {{ form.first_name|as_crispy_field }}
                                      </div>
                                      <div class="form-group col-md-6 mb-0">
                                        {{ form.last_name|as_crispy_field }}
                                      </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.dob|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.gender|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.blood_group|as_crispy_field }}
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.job|as_crispy_field }}
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        {{ form.photo|as_crispy_field }}

                                    </div>
                                </div>
                                <div class="wrapper"><input type="submit" class="btn btn-primary" value="Add" /></div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<script>
     $('#id_dob').datepicker({ uiLibrary: 'bootstrap4', modal: true, footer: true });
 </script>
{% endblock %}


