<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="../campview/" method="POST">
      {%csrf_token%}
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_bMDMTLuhqGBPjx"
            data-amount="20000"
            data-name="Make Payment"
            data-description="Camp Registration"
            data-image=""
            data-netbanking="true"
            data-description="Tron Legacy"
            data-prefill.name=""
            data-prefill.email=""
            data-prefill.contact=""
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>