{% extends 'user/Userbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Update profile{% endblock %}

{% block content%}<h4><center>Update Your Profile</center></h4>
{% endblock %}
{% block body %}

<div class="main">

        <div class="container-fluid" style="width:800px; margin:20px auto;"   >
            <div class="card">
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form method="post" >
                                {% csrf_token %}
                                {{ u_form|crispy }}
                                {{ p_form|crispy }}
                                <div class="wrapper"><input type="submit" class="btn btn-primary" value="Signup" /></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}