{% extends 'useradmin/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Medical Camp{% endblock %}

{% block body %}
{% block content%}<h2><center>Add User</center> </h2>{% endblock %}
<div class="main">

        <div class="container-fluid" style="width:800px; margin:20px auto;"   >
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                              <form method="post" autocomplete="off" >
        {% csrf_token %}

        <!--{{ form|crispy }}-->
        <!--{{ r_form|crispy }}-->

                     <div class="form-row">
                        <div class="form-group col-md-10 mb-0">
                            {{ form.username|as_crispy_field }}
                        </div>

                     </div>

                    <div class="form-row">
                          <div class="form-group col-md-10 mb-0">
                            {{ form.password1|as_crispy_field }}
                          </div>

                     </div>

                    <div class="form-row">

                          <div class="form-group col-md-10 mb-0">
                            {{ form.password2|as_crispy_field }}
                          </div>
                     </div>

         <div class="wrapper"><input type="submit" class="btn btn-primary" value="Add User" /></div>

    </form>




                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}