{% extends 'useradmin/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Camp Details{% endblock %}

{% block body %}
{% block content%}<h2><center>Camp Details</center> </h2>{% endblock %}
<div class="main">

        <div class="container-fluid" style="width:800px; margin:20px auto;"   >
                <div class="col-sm-4 col-md-5 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                           <table  class="table table-striped">

                                {% for camp in camp_list %}
                               <thead><th> <b>{{ camp.category_name }}</b><br></th>
                               <th><a href="#">Update</a></th><th><a href="#"> Delete</a></th></thead>
                                   <tr>
                                       <td><strong>Name:</strong> <b style="color: #993300"> {{ camp.name }}</b><br>
                                   <strong> Location: </strong> {{ camp.location }}<br>
                                  <strong>Date:</strong>  {{ camp.conduct_date }}<br>
                                   <strong>Time:</strong>  {{ camp.time }}<br>
                                    <strong>Payment:</strong>  {{ camp.payment }}<br>
                                    <strong> Status:</strong> {{ camp.status }}<br></td>
                                   </tr>

                                {% endfor %}


                            </table>




                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}